html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ecf2f8;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

.container {
  width: 20.4rem;
  height: 32rem;
  background: #fff;
  position: fixed;
  margin-top: -4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.image {
  height: 39%;
  position: relative;
  overflow: hidden;
}

.drawers {
  width: 100%;
  transform: translateY(-7%);
}

.main {
  height: 61%;
  position: relative;
  padding: 5% 10%;
  margin-right: 5px;
}

h3 {
  color: #48556a;
  line-height: 1.5;
  font-size: 1.25em;
}

p {
  color: #6d7f97;
  font-weight: 500;
  line-height: 1.5;
}

h5 {
  margin: 0;
  padding-top: 2px;
  font-size: 13px;
  color: #48556a;
}

h6 {
  color: #9eafc2;
  margin: 0;
  padding-top: 3px;
  font-size: 13px;
  font-weight: 400;
}

.profile-picture {
  border-radius: 50%;
  width: 40px;
  float: left;
  margin-right: 1rem;
}

.profile {
  margin-top: 35px;
}

#icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ecf2f8;
  float: right;
  margin: 8px -5px 0 10px;
}

.share-icon {
  position: relative;
  top: 8px;
  left: 9px;
}

#shareIcons {
  width: 100%;
  height: 4rem;
  background: #48556a;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  display: none;
}
.share {
  float: left;
  width: 35%;
  margin: 0;
  text-align: center;
  line-height: 4rem;
  font-size: 13px;
  letter-spacing: 5px;
  color: #9eafc2;
}

a {
  float: left;
  margin: 0;
  width: 12%;
  line-height: 4rem;
  padding-top: 6px;
  text-align: left;
}

.iconArrowPressed{
  filter: brightness(0) invert(1);
  z-index: 1;
}


@media only screen and (min-width: 900px) {
  .container {
    width: 46rem;
    max-width: none;
    height: 17.5rem;
    margin-top: 0;
    overflow: visible;
  }

  .image {
    width: 39%;
    height: 100%;
    margin: 0;
    float: left;
    border-radius: 10px 0 0 10px;
  }

  .drawers {
    width: auto;
    height: 100%;
    transform: translateY(0);
  }

  .main {
    width: 61%;
    float: left;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 1.55em;
    margin: 2rem 3rem 0 2.5rem
  }

  p {
    margin: 10px 3rem 0 2.5rem;
  }

  .profile {
    margin: 20px 3rem 0 2.5rem;
  }

  .img-rounded, #icon {
    transition: transform 0.2s;
  }

  #icon:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .img-rounded:hover{
    transform: scale(1.2);
  }

  #shareIcons {
    width: 15.5rem;
    height: 3.5rem;
    background: #48556a;
    position: absolute;
    top: 46%;
    left: 75%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: none;
  }

  .arrowHead {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #48556a;
    transform: rotate(45deg);
    margin-top: 45px;
    margin-left: 115px;
  }

  .share {
    float: left;
    width: 50%;
    margin: 0;
    text-align: center;
    line-height: 3.5rem;
    font-size: 13px;
    letter-spacing: 5px;
    color: #9eafc2;
  }

  a {
    float: left;
    margin: 0;
    width: 15%;
    line-height: 3.5rem;
    padding-top: 6px;
    text-align: left;
  }
}
